<div  style="padding: 15px;">
  <mat-card class="container ">
    <div class="innerContainer bg-slate-300" style="border-radius: 3px;">
      <h1 mat-dialog-title>Please Fill Information</h1>
      <div mat-dialog-content style="justify-content: center;">
        <div>
          <form [formGroup]="projectFormData" (ngSubmit)="projectData()">
            <mat-form-field style="width: 100%;" >
              <input matInput placeholder="Project Name" required formControlName="post_title">
              <mat-error *ngIf="post_title?.errors?.['required']">
                Post Title is required.
              </mat-error>
            </mat-form-field><br>
            <mat-form-field style="width: 100%;" >
              <input matInput placeholder="Project Name" required formControlName="post_description">
              <mat-error *ngIf="post_description?.errors?.['required']">
                Post Descriptions is required.
              </mat-error>
            </mat-form-field><br>
            
            <br>
            <button color="warn" mat-button mat-raised-button type="reset">Reset</button>&nbsp;&nbsp;
            <button mat-raised-button [disabled]="projectFormData.invalid" [mat-dialog-close]="projectFormData.value"
              color="accent">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </mat-card>
</div>